body {
    margin: 0;
    overflow: hidden;
    background-color: #1a0b2e;

    background-image: url('../assets/fond/fond_test.gif');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000000;
    border-top: 4px solid #00ffea; 
    box-shadow: 0 0 20px #00ffea;
    z-index: 1;
}

#ray {
    position: absolute;
    left: 100px;
    width: 128px; 
    image-rendering: pixelated;
    z-index: 2;
}

#ui {
    position: absolute;
    top: 10px; left: 10px;
    color: #00ffea;
    border: 1px solid #00ffea;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    z-index: 10;
}